{% extends 'base.html' %}
{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Kosugi');

    h4 {
        font-family: 'Kosugi', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    /* Form */
    form {
        font-family: 'Kosugi', sans-serif;
        margin: 30px;
        padding: 30px;
        width: 50%;
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    /* Form Inputs */
    .form-group {
        margin: 20px 0;
    }

    .form-group label {
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .form-group input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid gray;
        box-sizing: border-box;
        font-size: 18px;
    }

    /* Form Button */
    button {
        display: block;
        padding: 10px;
        margin-top: 30px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }
</style>

<center>
  <h4>更新メニュー</h4>
    <form action="" method="POST">
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">識別番号</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">パスワード</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button class="btn btn-primary">ログイン</button>
        {% csrf_token %}
    </form>
</center>

{% endblock %}